name: CI-CD-HTML-to-VPS
env:
  EB_PACKAGE_S3_BUCKET_NAME : "html-test-page-for-cv"
  EB_APPLICATION_NAME       : "HTML-page"
  EB_ENVIRONMENT_NAME       : "Htmlpage-env-1"
  DEPLOY_PACKAGE_NAME       : "html_page_${{ github.sha }}.zip"
  AWS_REGION_NAME           : "eu-central-1"

on:
  push:
    branches:
      - master
      
jobs: 
  my_ci_part:
    runs-on: ubuntu-latest
    
    steps:
    - name: Git clone repo
      uses: actions/checkout@v1
      
    - name: Create zip deployment package
      run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*
 
